Repository open-policy-agent/opa, pull requests merged in 2022-11, with the labels that each got.

#5358 website: add "canonical" link to latest
  docs/website/layouts/partials/meta.html
Labels: website

#5373 ast/annotations: Add type coercion guards to avoid panics.
  ast/annotations.go
  cmd/eval_test.go
Labels: bug

#5376 builtins: Add AWS SigV4 signing builtin.
  ast/builtins.go
  build/policy/helpers.rego
  builtin_metadata.json
  capabilities.json
  docs/content/policy-reference.md
  internal/providers/aws.go
  plugins/rest/aws.go
  plugins/rest/aws_test.go
  plugins/rest/rest_auth.go
  test/cases/testdata/providers-aws/aws-sign_req-errors.yaml
  test/cases/testdata/providers-aws/aws-sign_req.yaml
  topdown/providers.go
Labels: builtins

#5401 ast/compile: More accurate error locations for `some` with unused vars.
  ast/compile.go
  ast/compile_test.go
Labels: bug, rego

#5415 docs: Document reference timestamp behavior for `time.parse_ns`
  ast/builtins.go
  builtin_metadata.json
  docs/content/policy-reference.md
Labels: docs
