Repository open-policy-agent/opa, pull requests merged in 2022-10, with the labels that each got.

#5225 builtins: Refactor builtin registration functions and signatures
  profiler/profiler_test.go
  rego/rego_test.go
  tester/runner_test.go
  topdown/aggregates.go
  topdown/arithmetic.go
  topdown/array.go
  topdown/binary.go
  topdown/builtins.go
  topdown/casts.go
  topdown/cidr.go
  topdown/comparison.go
  topdown/crypto.go
  topdown/encoding.go
  topdown/glob.go
  topdown/http.go
  topdown/numbers.go
  topdown/parse.go
  topdown/reachable.go
  topdown/regex.go
  topdown/semver.go
  topdown/sets.go
  topdown/sets_test.go
  topdown/strings.go
  topdown/time.go
  topdown/tokens.go
  topdown/topdown_test.go
  topdown/trace.go
  topdown/type.go
  topdown/type_name.go
  topdown/uuid.go
  topdown/walk.go
Labels: builtins

#5238 docs/policy-reference: Add semver examples.
  docs/content/policy-reference.md
Labels: docs

#5274 topdown/glob: Fix deferred mutex unlock issue.
  test/cases/testdata/globmatch/test-globmatch-issue-5273.yaml
  topdown/glob.go
Labels: bug, builtins

#5306 cidr_is_valid: add function to validate network cidr
  ast/builtins.go
  builtin_metadata.json
  capabilities.json
  test/cases/testdata/netcidrisvalid/test_netcidrisvalid-0001.yaml
  topdown/cidr.go
Labels: builtins

#5307 compile+types: Speed up typechecker when working with Refs
  ast/visit.go
  compile/compile_bench_test.go
  types/types.go
Labels: optimization, performance

#5296 ast+topdown: Add `graphql.is_schema_valid` builtin.
  ast/builtins.go
  builtin_metadata.json
  capabilities.json
  test/cases/testdata/graphql/test-graphql-schema-is-valid.yaml
  topdown/graphql.go
Labels: builtins
