Repository open-policy-agent/opa, pull requests merged in 2025-06, with the labels that each got.

#7664 v1/metrics: Prealloc maps + add benchmark
  v1/metrics/metrics.go
  v1/metrics/metrics_bench_test.go
Labels: optimization, performance

#7669 v1/metrics: Fix restartable timer bug.
  v1/metrics/metrics.go
  v1/metrics/metrics_bench_test.go
  v1/metrics/metrics_test.go
Labels: bug

#7671 v1/server: Fix deferred metrics timers for `/v1/data` PUT, PATCH, and DELETE.
  v1/server/server.go
  v1/server/server_test.go
Labels: bug

#7675 docs: Update policy-ref allowing anchor linking
  docs/docs/policy-performance.md
  docs/docs/policy-reference.md
  docs/docs/wasm.md
  docs/src/components/BuiltinTable/index.js
Labels: docs

#7682 website: Only show latest patch in archive
  docs/src/Archive.js
Labels: docs

#7685 docs: policy-reference, update sig algs formatting
  docs/docs/policy-reference/index.md
Labels: docs
